.foo {
  height: 100%;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Spartan", sans-serif;
  color: #4d4d4d;
  height: 100%;
}

.content {
  padding: 30px 0px 40px 0px; /* top right bottom left */
}

.about-text {
  padding: 10px 20px 10px 20px; /* top right bottom left */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.about-text p {
  padding: 8px 0px 8px 0px;
}

/* Mobile */
@media only screen and (max-width: 414px) {
  .about-text {
    padding: 5px 10px 5px 10px;
  }

  .content {
    padding: 10px 0px 40px 0px; /* top right bottom left */
  }

  .heading {
    margin-top: 30px;
  }
}

/* Tablets */
@media only screen and (min-width: 415px) and (max-width: 768px) {
}

/* Desktop */
@media only screen and (min-width: 1900px) {
  .heading {
    padding-top: 100px;
  }
  .content {
    font-size: 20px;
  }
}
