.foo {
  height: 100%;
}

.contact-container {
  padding: 10px 0px 10px 0px; /* top right bottom left */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Spartan", sans-serif;
  color: #4d4d4d;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-heading {
  padding: 0px 0px 10px 0px; /* top right bottom left */
}

.contact-form,
.contact-text {
  resize: none;
  padding: 10px;
  margin: 5px 10px 10px 10px; /* top right bottom left */
  border: 1px;
  border-style: solid;
  border-color: #4d4d4d;
  border-radius: 12px;
  width: 300px;

  /* border: 1px;
  border-style: solid;
  border-color: red; */
}
.contact-form:focus,
.contact-text:focus {
  background-color: #f8f8f8;
}

.contact-text {
  height: 60px;
  /* width: 300px;  */
}

.form-button {
  background-color: #737373; /* #8c8c8c */
  padding: 10px;
  width: 180px;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: "Spartan", sans-serif;
  font-weight: bold;
}

.form-button:hover {
  background-color: #4d4d4d; /* 737373 */
}

.contact-container p {
  align-self: flex-start;
  padding-left: 10px;
  font-size: 15px;
}

/* Mobile */
@media only screen and (max-width: 414px) {
}

/* Tablets */
@media only screen and (min-width: 415px) and (max-width: 768px) {
}

/* Desktop */
@media only screen and (min-width: 1900px) {
  .contact-container {
    padding: 30px 0px 10px 0px; /* top right bottom left */
  }

  .contact-form,
  .contact-text {
    width: 500px;
    font-size: 16px;
  }

  .contact-container p {
    padding: 15px 0px 0px 10px; /* top right bottom left */
    font-size: 20px;
  }

  .form-button {
    background-color: #737373; /* #8c8c8c */
    padding: 12px 20px 12px 20px; /* top right bottom left */
    width: 220px;
    border-radius: 10px;
    font-size: 14px;
  }

  .form-heading {
    padding-bottom: 40px; /* top right bottom left */
  }
}
