nav {
  display: flex;
  align-items: center;
  height: 100%;
  /* 
  border: 1px;
  border-style: solid;
  border-color: black; */
}

.home-nav {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  /* 
  border: 2px;
  border-style: solid;
  border-color: black; */
}

.pic-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-pic-1,
.home-pic-2,
.home-pic-3 {
  border-radius: 50%; /* Gerir myndina kringlótta */
  height: 300px;
  width: 300px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;

  opacity: 1;
  backface-visibility: hidden;
}

.home-link:hover .home-pic-1,
.home-link:hover .home-pic-2,
.home-link:hover .home-pic-3 {
  opacity: 0.7;
}

.pic-text-1,
.pic-text-2,
.pic-text-3 {
  color: white;
  font-size: 44px; /*16*/
  /* padding: 16px 32px; */
}

.text-container {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  /* border: 2px;
  border-style: solid;
  border-color: red; */
}

.home-link:hover .text-container {
  opacity: 1;
}

/* Mobile */

@media only screen and (max-width: 414px) {
  nav {
    flex-wrap: wrap;
  }
  .home-pic-1,
  .home-pic-2,
  .home-pic-3 {
    height: 160px;
    width: 160px;
  }
  .home-nav {
    height: auto;
  }
  .text-container {
    opacity: 1;
    padding-top: 65px;
  }

  .pic-text-1,
  .pic-text-2,
  .pic-text-3 {
    font-size: 28px;
  }
}

/* Tablets */

@media only screen and (min-width: 415px) and (max-width: 768px) {
  nav {
    flex-wrap: wrap;
  }
  .home-pic-1,
  .home-pic-2,
  .home-pic-3 {
    height: 250px;
    width: 250px;
  }
  .home-nav {
    height: 30%;
  }

  .text-container {
    opacity: 1;
  }
}

/* Desktop */
@media only screen and (min-width: 1900px) {
  .home-pic-1,
  .home-pic-2,
  .home-pic-3 {
    height: 450px;
    width: 450px;
  }

  .pic-text-1,
  .pic-text-2,
  .pic-text-3 {
    font-size: 64px;
  }
  .text-container {
    top: 60%;
  }
}
